.slide-items{
    display: flex;
    flex-direction: column;
    
    .slide-item-title{
        padding: 25px 0;
        font-size: 28px;
    }

    .slide-featured{
        display: grid;
        grid-template-columns: repeat(4,minmax(200px,1fr));
        column-gap: 25px;
        
        .slide-item-featured{
            cursor: pointer;
            // font-size: 16px;

            &:hover{
                color: #F37F68;

                .slide-item-featured-details{
                    .slide-item-featured-details-price{
                        color: black;
                    }
                }
            }

            .slide-item-featured-image{
                width: 160px;
                height: 160px;
                margin: auto;

                p{
                    width: 100%;
                    height: 100%;
                    position: relative;

                    img{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        max-width: 160px;
                        max-height: 160px;    
                    }
                }
            }
            
            .slide-item-featured-details{
                padding: 15px 0;
            }


        }
    }
}